.rsfv-wrapper {
	margin: 20px 0;
}

@media screen and (min-width: 768px) {
	.rsfv-wrapper {
		display: grid;
		grid-template-columns: 8fr 4fr;
		column-gap: 40px;
	}
}

.rsfv-wrapper .sidebar a {
	outline: none;
	box-shadow: none;
}
.rsfv-wrapper .sidebar img {
	width: 100%;
	border-radius: 6px;
	box-shadow: 0 0 1px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.1);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	border: 1px solid transparent;
	outline: none;
}

.rsfv-wrapper .sidebar img:hover, .rsfv-wrapper .sidebar img:focus {
	box-shadow: 1px 1px 20px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.1);
	border-color: rgb(38, 57, 227);
}

.rsfv .menu-title {
	font-weight: bold;
}

.rsfv .forminp .description {
	display: block;
	margin-top: 10px;
}

.rfsv .forminp-button {
	padding: 0 0 15px;
}

.rsfv .collapsible {
	border: none;
	border-top: 1px solid#e2e4e7;
	border-bottom: 1px solid#e2e4e7;
	background-color: #fff;
	padding: 15px;
	outline: none;
	width: 100%;
	font-weight: 600;
	text-align: left;
	box-shadow: none;
	cursor: pointer;
}

.rsfv .collapsible:after, .rsfv .collapsible.active:after {
	font-family: 'Dashicons';
	font-size: 20px;
	color: #000;
	float: right;
	margin-left: 5px;
}

.rsfv .collapsible:after {
	content: "\f140";
}

.rsfv .collapsible.active:after {
	content: "\f142";;
}

.rsfv .collapsible.active, .rsfv .collapsible:hover {
	background-color: #fff;
}

.rsfv .collapsible-content {
	padding: 0 18px;
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

.rsfv .form-table td.forminp-multi-checkbox fieldset label {
	padding-left: 0;
}

.rsfv .form-table td.forminp-multi-checkbox input[type=checkbox]{
	height: 0;
	width: 0;
	display: none;
}

.rsfv .form-table td.forminp-multi-checkbox label:focus input[type="checkbox"] + span,
.rsfv .form-table td.forminp-multi-checkbox label:active input[type="checkbox"] + span {
	outline: 2px solid transparent;
	outline-offset: 2px;
	box-shadow: 0 0 0 2px #fff,0 0 0 3px #6c7781;
	border-radius: 15px;
	display: inline-block;
	height: 19px;
}

.rsfv .form-table td.forminp-multi-checkbox span > span {
	cursor: pointer;
	text-indent: -9999px;
	width: 36px;
	height: 19px;
	background: #fff;
	display: inline-block;
	box-sizing: border-box;
	vertical-align: top;
	border-radius: 15px;
	position: relative;
	border: 2px solid #6c7781;
}

.rfsv .form-table td.forminp-multi-checkbox span > span:before {
	position: absolute;
	top: 5px;
	right: 4px;
	width: 3px;
	height: 3px;
	z-index: 999;
	font-size: 51px;
	content: '';
	border-radius: 10px;
	border: 2px solid #6c7781;
	transition: 0.1s ease-in all;
}

.rsfv .form-table td.forminp-multi-checkbox span > span:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 2.5px;
	width: 10px;
	height: 10px;
	background:#6c7781;
	border-radius: 15px;
	transition: 0.1s ease-in all;
}

.rsfv .form-table td.forminp-multi-checkbox input:checked + span > span {
	background: #5C32B6;
	border-color: #5C32B6;
}

.rfsv .form-table td.forminp-multi-checkbox input:checked + span > span:before {
	border-radius: 0;
	right: calc(100% - 10px);
	transform: translateX(-100%);
	width: 1.5px;
	border: none;
	height: 6px;
	background: #fff;
}

.rsfv .form-table td.forminp-multi-checkbox input:checked + span > span:after {
	background: #fff;
	left: calc(100% - 3px);
	transform: translateX(-100%);
}

.rsfv .form-table td.forminp-multi-checkbox span > span:active:after {
	width: 20px;
}

.forminp-multi-checkbox fieldset {
	max-width: 1000px;
}

.forminp-multi-checkbox ul {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 80px;
	margin: 0;
	padding: 0;
}

.rsfv.uroles td.forminp-multi-checkbox ul {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}

@media screen and (max-width: 700px) {
	.forminp-multi-checkbox ul {
		grid-template-columns: 1fr;
	}
}

.forminp-multi-checkbox li {
	flex: 0 0 150px;
	margin-top: 10px;
}


.forminp-multi-checkbox li label {
	margin: 0 !important;
	padding: 0;
}


.rsfv .form-table td.forminp-multi-checkbox li label {
	display: inline-flex;
	flex-direction: row-reverse;
	width: 100%;
	justify-content: space-between;
}

.rsfv .form-table td.forminp-multi-checkbox li label > * {
	margin: 0;
	align-self: center;
}

.rsfv-enable-post-types + table.form-table,
.rsfv-self-video-controls + table.form-table,
.rsfv-embed-video-controls + table.form-table {
	background-color: #fff;
	border: 1px solid #DCDCDC;
}

.rsfv-enable-post-types + table.form-table td,
.rsfv-self-video-controls + table.form-table td,
.rsfv-embed-video-controls + table.form-table td {
	padding: 6px 14px;
}

.rsfv .forminp-status .engine-active::before {
	content: ' ';
	display: inline-block;
	background: #00d084;
	width: 8px;
	height: 8px;
	border-radius: 100%;
	margin-right: 4px;
}

.rsfv .forminp-status .engine-inactive::before {
	content: ' ';
	display: inline-block;
	background: #e14d43;
	width: 8px;
	height: 8px;
	border-radius: 100%;
	margin-right: 4px;
}

.rsfv.getpro .tab-content .rsfv-button {
	display: inline-block;
	margin-top: 10px;
}
.rsfv.getpro .submit {
	display: none;
}

.rsfv.getpro .rsfv-button.rsfv-getpro-button {
	display: inline-block;
	margin-top: 30px;
}

.rsfv.getpro h1 {
	margin-top: 15px;
	font-weight: 600;
	font-size: 20px;
	line-height: 30px;
}

.rsfv.getpro .getpro-content ul {
	list-style: disc;
	list-style-position: inside;
}

.rsfv.getpro .getpro-content li {
	line-height: 1.5;
}

.rsfv.getpro .getpro-content p, li {
	font-size: 15px;
}

.rsfv.getpro form {
	position: relative;
}

.rsfv.getpro form {
	height: calc(100% - 10%);
}

.rsfv.getpro .getpro-content .offer-highlight {
	font-size: 18px;
}

.rsfv.getpro .tab-content .rsfv-button {
	display: inline-block;
	margin-top: 10px;
	font-size: 18px;
	padding: 4px 20px;
}

.rsfv .sidebar .upgrade-box {
	background: #fff;
	border: 1px solid #dcdcdc;
	padding: 5px 30px 25px;
}


.rsfv .sidebar .upgrade-box > * {
	margin-bottom: 15px;
}

.rsfv .sidebar .upgrade-box .desc {
	font-size: 15px;
}

.rsfv .sidebar .upgrade-box .button.button-primary {
	font-size: 16px;
	width: 100%;
	padding: 6px 0;
	text-align: center;
}


@media screen and ( min-width: 1920px ) {
	.rsfv.getpro form {
		height: auto;
	}
}

@media screen and (max-width: 768px) {
	.rsfv.getpro form {
		padding-bottom: 250px;
	}
}